
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %}">
 <!-- Bootstrap core CSS -->
    <link href="{% static 'directorio/css/bootstrap.min.css' %}" rel="stylesheet">
<link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
    <link href="{% static 'directorio/css/alertify.min.css' %}" rel="stylesheet">
    <link href="{% static 'directorio/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link href="{% static 'directorio/css/base.css' %}" rel="stylesheet">

<header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">

                    <h1 class="fw-bolder">Queltehue Tu canal social!</h1>
                    <p class="lead mb-0">Bienvenido a la pagina de información para fondos solidarios</p>
                </div>
            </div>
        </header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <meta name="author" content="">


    <title> {% block titulo_pagina %}{% endblock %} </title>


</head>

<body>

{% include 'partials/navbar.html' %}

<!-- Begin page content -->
<div class="container">
    {% block contenido %}
    {% endblock %}
    <br>
</div>

{% include 'partials/footer.html' %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'directorio/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'directorio/js/popper.min.js' %}"></script>
<script src="{% static 'directorio/js/bootstrap.min.js' %}"></script>
<script src="{% static 'directorio/js/alertify.min.js' %}"></script>

{% block extra_js %}
{% endblock %}

<script>
    $( document ).ready(function() {
        {% if messages %}
            {% for m in messages %}
                alertify.notify(
                    '{{ m.message|safe }}', '{{ m.tags }}', 7
                );
            {% endfor %}
        {% endif %}
    });
</script>
</body>
</html>
