
{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
 <link rel="shortcut icon" href="{%  static 'assets/favicon.png' %}">
 <link rel="" href="{%  static 'assets/favicon.png' %}">
 <!-- Bootstrap core CSS -->
    <link href="{% static 'directorio/css/bootstrap.min.css' %}" rel="stylesheet">
<link
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
  rel="stylesheet"  type='text/css'>
    <link href="{% static 'directorio/css/alertify.min.css' %}" rel="stylesheet">
    <link href="{% static 'directorio/css/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link href="{% static 'directorio/css/base.css' %}" rel="stylesheet">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <meta name="author" content="">


    <title> {% block titulo_pagina %}{% endblock %} </title>
 <div class="arrow">
<button type="button" style="scroll-behavior: auto;position: fixed;" class="btn-success fixed-bottom "  id="btn-back-to-top">
  <i class="fa fa-arrow-up  "></i>
</button>
</div>

</head>

<body>
<div style="background-image: linear-gradient( 109.6deg,  rgba(242, 159, 5, 1) 11.2%, rgba(242, 159, 5, 1) 91.1% );" class="header py-5 bg-light rounded ">
            <div class="container">
                <div class="text-center my-5">

                    <h1 class="fw-bolder ">
                        <i class="fa fa-calendar-o"></i>
                        ¡Queltehue Tu canal social!
                    </h1>
                    <span >Bienvenido a tu pagina de información para fondos concursables</span>
                </div>
            </div>

        </div>

{% include 'partials/navbar.html' %}

<!-- Begin page content -->
<div class="container">
    {% block contenido %}
    {% endblock %}
    <br>

</div>

{% include 'partials/footer.html' %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'directorio/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'directorio/js/popper.min.js' %}"></script>
<script src="{% static 'directorio/js/bootstrap.min.js' %}"></script>
<script src="{% static 'directorio/js/alertify.min.js' %}"></script>

{% block extra_js %}
 <script>
 var element = document.getElementById("btn-back-to-top");
element.onclick = function(event) {
     window.scrollTo({ top: 0, behavior: 'smooth' });
}

 </script>
{% endblock %}

</body>
</html>
