<footer class="footer" color="#fff">
    <div class="container text-center">
        <span class="text-muted"> Centro de Innovación y emprendimiento - UNACH</span>


                    <a style="padding-right:20px;padding-left: 20px; " href="https://www.instagram.com" class="footer-link"><i class="fa fa-youtube-play fa-lg"></i></a>

                    <a style="padding-right:20px " href="https://www.instagram.com" class="footer-link"><i class="fa fa-instagram fa-lg"></i></a>

                    <a style="padding-right:20px " href="https://www.facebook.com" class="footer-link"><i class="fa fa-facebook-official fa-lg"></i></a>




    </div>
</footer>