{% load static %}
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-transparent">

<div>
    <a class="navbar-brand " href="{% url 'fondos:tipo' %}" > <img width="90" height="75" src="{%  static 'assets/favicon.png' %}" > </a>



</div>
<div>
<div class="callout">

  <div class="callout-container">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

    <p>Clickea en el Queltehue para volver al inicio</p>
  </div>
</div>
</div>
    <div style="padding-left: 150px;">


            {% if request.user.is_authenticated %}
                <ul class="nav-item dropdown text-white align-content-end">
                    <a class="nav-link dropdown-toggle text-white"
                       data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user text-white"></i> {{ request.user }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/">
                            <i class="fa fa-gear"></i>
                            Administración
                        </a>
                         <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'fondos:crear' %}">
                            <i class="fa fa-angellist"></i>
                           Crear nuevo fondo
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fa fa-sign-out"></i>
                            Cerrar Sesión
                        </a>
                         </div>
                </ul>
                {% else %}
                  <ul >
                <div class="dropdown-menu"></div>
                <a class="dropdown-item" href="{% url 'login' %}">
                    <i class="fa fa-sign-in"></i>
                    Iniciar Sesión
                </a>

                </ul>

            {% endif %}
        </ul>
    </div>

</nav>

<script>
    $(document).ready(function(){
        var scroll_pos = 0;
        $(document).scroll(function() {
            scroll_pos = $(this).scrollTop();
            if(scroll_pos > 210) {
                $('.text-white').css('color', '#fff');
            } else {
                $('').css('color', '#000');
            }
        });
    })
    </script>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
</script>