body{
  background-image: url('fondos/static/assets/astronomy-g6ae624efd_1920.jpg');
}
.bg-custom-2 {
background-image: linear-gradient(15deg, #fff 0%, mediumpurple 100%);
}

.button3:hover {
  background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
}

.headercustom {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.disapear {
  color:white;
}